{{ "<!-- Banner -->" | safeHTML}}
    <section id="banner" class="major">
        <div class="inner">
            <header class="major underline">
                <h1>{{ .Site.Params.Banner.title }}</h1>
            </header>
            <div class="content">
                <p class="down">{{ .Site.Params.Banner.subtitle }}</p>
                <ul class="actions">
                    <li><a href="#contact" class="button next scrolly">{{ .Site.Params.Banner.buttonText }}</a></li>
                </ul>
            </div>
        </div>
    </section>